/* body */
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  /* color: #20B2AA; */
}

body {
  font-family: 'poppins', sans-serif;
  font-size: 14px;
  line-height: 23px;
  font-weight: 400;
  background: #ffff;
  color: black;
}



.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('https://yannidesignstudio.com/app/uploads/2019/08/pearl-banquet-and-conference-center-indian-wedding-ceremony-reception-venue-floral-centerpieces-flower-arrangements-candles-lights-aisle-decor-garden-theme-mandap-greenery-decorations-ideas-marriage-pictures-photos.jpg');
  background-size: cover;
}

.login-container {
  width: 400px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
}

h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

button {
  padding: 10px;
  background-color: #20B2AA;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #f52fc1;
}

p {
  text-align: center;
  margin-top: 20px;
}

a {
  color: #df16c0;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}



